@font-face {
    font-family: Oswald;
    src: url(/Fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(/Fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Phudu;
    src: url(/Fonts/Phudu/Phudu-Black.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}

/*Header*/

header object{
    width: 100%;
    height: 50px;
    position: fixed;
}

/*Body*/



.lap-img img{
    max-width: 100%;
}

.mob-img,.mob-img img{
    visibility: hidden;
    width: 0;
    height: 0;
}
.body .bold-text h1{
    position: fixed;
    top: 80px;
    left: 400px;
    right: 400px;
    font-family: Phudu;
    color: #FDFEFE;
    height: 40% !important;
    width: 500px;
    font-weight: bolder;
    font-size: 60px;
}

.body .small-text h3{
    position: fixed;
    top: 320px;
    left: 400px;
    right: 400px;
    color: #AAB7B8;
    font-family: Oswald;
    font-size: 20px;
}


.body #contact-body a{
    width: 15%;
    height: 30px;
    padding: 10px 5px;
    text-align: center;
    color: #FFFF00 !important;
    border: 2px solid #FFFF00;
    position: absolute;
    left: 500px;
    right: 500px;
    bottom: -300px;
    font-family: Raleway;
    font-size: 25px;
}
.body #contact-body a:hover{
    color: black !important;
    background-color: #FFFF00;
}

@media (max-width:370px) {
    .lap-img img{
        visibility: hidden;
    }
    .mob-img img{
        visibility: visible;
        width: 100%;
        height: 92.5%;
        position: absolute;
        top: 50px;
        z-index: 0;
    }
    .body .bold-text h1{
        position: fixed;
        top: 40px;
        left: 30px;
        right: 30px;
        width: 300px;
        font-size: 50px;
        height: 50% !important;
        text-align: center;
        line-height: 55px;
    }
    .body .small-text h3{
        position: fixed;
        top: 280px;
        left: 60px;
        right: 60px;
        font-size: 20px;
        width: 250px;
        text-align: center;
    }
    .body #contact-body a{
        width: 50%;
        height: 30px;
        padding: 10px 5px;
        position: absolute;
        left: 80px;
        right: 80px;
        bottom: 100px;
    }
}
