@font-face {
    font-family: Oswald;
    src: url(/Fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(/Fonts/Raleway/Raleway-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    
}
header object{
    width: 100%;
    height: 50px;
    overflow-y: auto !important;
}

.body{
    background-color: black;
    max-width: 100%;
    max-height: 100%;
}
.lap-img img{
    margin-top: -5px;
    max-width: 100%;
}

.mob-img,.mob-img img{
    visibility: hidden;
    width: 0;
    height: 0;
}

.body .heading h1{
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: Oswald;
    color: #FFFF00;
    font-weight: bolder;
    font-size: 50px;
    width: 200px;
}

.body .content h2{
    position: absolute;
    top: 150px;
    left: 50px;
    text-align: left;
    font-family: Raleway;
    color: #FFFFFF;
    font-size: 18px;
    width: 550px;
    line-height: 27px;
}
.body .routines{
    position: absolute;
    top: 80px;
    right: 50px;
    border: 5px solid #FFFFFF;
}
.body .routine-img img{
    width:400px;
    height: 200px;
    padding: 20px;
}
.routines .routine-quotes h2{
    font-family: Raleway;
    color: #FFD700;
    font-size: 18px;
    text-align: left;
    padding: 10px 170px 20px 190px;
    margin-top: -10px;
}

.body .content h1{
    position: absolute;
    top: 120px;
    right: 100px;
    text-align: center;
    font-family: Raleway;
    color: #FFD700;
    padding: 20px;
    border: 5px solid #FFFFFF;
    font-size: 40px;
    width: 350px;
    font-weight: lighter;
}
.design-containers{
    background-color: black;
    position: absolute;
    bottom: -300px;
    left: 15px;
    width: 97%;
}
.design-containers img{
    width: 200px;
    height: 200px;
    margin-top: -20px;
    padding: 20px 51px;
}
.design-containers h1{
    color: #FFD700;
    text-align: center;
    font-family: Oswald;
}
.body .final-content h1{
    position: absolute;
    bottom: -365px;
    width: 100%;
    text-align: center;
    font-family: Raleway;
    color: #FFD700;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width:370px) {
    .lap-img img{
        visibility: hidden;
    }
    .mob-img img{
        visibility: visible;
        width: 100%;
        height: 250%;
        position: absolute;
        top: 50px;
    }
    .body .heading h1{
        left: 30px;
    }
    .body .content h2{
        top: 130px;
        left: 30px;
        right: 30px;
        width: 300px;
    }
    .body .routines{
        top: 525px;
        left: 9px;
        right: 9px;
        width: 340px;
    }
    .body .routine-img img{
        width:300px;
        padding: 20px;
    }
    .routines .routine-quotes h2{
        font-size: 18px;
        text-align: left;
        padding: 0 100px 0 120px
    }
    .design-containers{
        background-color: black;
        position: absolute;
        bottom: -1030px;
        left: 18px;
        right: 18px;
        width: 90%;
    }
    .design-containers img{
        height: 150px;
        padding: 20px 65px;
    }
    .body .final-content h1{
        position: absolute;
        bottom: -1130px;
        width: 100%;
        text-align: center;
        font-family: Raleway;
        color: #FFD700;
        padding: 20px 0px;
        font-size: 20px;
        font-weight: lighter;
    }
}